.titulo {
    font-size: x-large;
    margin-right: 32px;



}

.container {

    width: 80%;
    border-radius: 5px;
    padding: 100px;
    margin-top: 0%;
    margin-bottom: 10%
}

.container1 {
    border: 5px solid #000;
    width: 80%;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5%;
    margin-bottom: 5%
}

#larih {
    border-radius: 50%;
    border: lpx solid #000;
    width: 15px;

}